@{
    ViewBag.Title = "Periodos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using System.Globalization;
@model  IList<ESSACInspecciones.Core.DTO.PeriodoDTO>
<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Periodos</h2>
                @Html.Partial("_showAlertMessages")
                <section class="panel panel-default">
                    @if (ViewBag.EsAdmin)
                    {
                        <div class="row text-sm wrapper">
                            <div class="col-sm-8">
                                <div class="btn-group">
                                    <label><input type="checkbox" id="btn-showInactive" /> Mostrar Inactivos</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn btn-sm btn-success pull-right btn-rounded" href="@Url.Action("Periodo")"><i class="fa fa-plus"></i> Crear nuevo periodo</a>
                            </div>
                        </div>
                    }
                    <div class="table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th width="30%">Nombre</th>
                                    <th class="text-center" width="25%">Fecha Inicio</th>
                                    <th class="text-center" width="25%">Fecha Fin</th>
                                    @if (ViewBag.EsAdmin)
                                    {
                                        <th class="text-center" width="20%">Opciones</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{int cont = 1;}
                                @foreach (var periodo in Model)
                                {
                                    var classInactive = (ViewBag.EsAdmin && !periodo.Active) ? "class='inactive'" : "";
                                    <tr @Html.Raw(classInactive)>
                                        <td width="30%">@periodo.Nombre</td>
                                        <td class="text-center" width="25%">@periodo.FechaInicio.ToString("dd/MMM/yyyy", CultureInfo.CreateSpecificCulture("es-PE"))</td>
                                        <td class="text-center" width="25%">@periodo.FechaFin.ToString("dd/MMM/yyyy", CultureInfo.CreateSpecificCulture("es-PE"))</td>
                                        @if (ViewBag.EsAdmin)
                                        {
                                            <td align="center"><a href="@Url.Action("Periodo", new { id = periodo.IdPeriodo})"><i class="fa fa-pencil"></i></a></td>
                                        }
                                    </tr>
                                        cont++;
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

